.navigation{
    display:flex;
    justify-content: space-around;
}

ul{
 display: flex;
 flex-direction: row;
}

li{
    list-style: none;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
    font-size:1rem;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
    background-image: url(../image/beauty.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    height: 100%;
    width: 100%;
    color:white;
    margin-bottom: 80px;
    padding: 0 50px;
}

.home h1{
  text-transform:uppercase;
  font-family: 'Belleza', sans-serif;
  font-size: 3rem;
  margin-bottom: none;

}

.home p{
    text-transform:capitalize;
    margin-top: none;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size:0.8rem;
}
.diff{
    display: flex;
    align-content: center;
    justify-content: center;
   background-color: black;
   padding:10px 20px;
   width: 10%;
   color:white;
}

.services{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.expertise{
    width: 30%;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
}

.development{
    background-color: black;
    display: flex;
    justify-content:center;
    align-content: center;
    width: 100%;
    margin-top:20px;
}
.increase{
    width:50%;
    color: white;
}
.another{
    display: flex;
    align-content: center;
    justify-content: center;
   background-color:white;
   padding:0px 20px;
   width: 10%;
   color: black;
}

.increase h2 a{
    color:white;
}

.increase img{
    width: 50%;
}

/* media quaries */



@media screen and ( max-width:900px){
    .navigation{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    li{
        font-size:0.8rem;
    }
    .home{
        margin-bottom: 0px;
    }
    .services{
        flex-direction: column;
    }
    .expertise{
        width: 100%;
        font-size: 1rem;
    }

    .development{
        
    }
}